.sidebarConteiner {
    width: 100%; 
    background-color: #f9f9f9;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 2000;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    height: 100vh;
  /* Ensure sidebar is scrollable when content exceeds available height */
  overflow-y: auto;
    
  }
  
  .sidebarConteiner.show {
    transform: translateX(0); 
    display: flex;
    flex-direction: column;
    padding:20px;
    min-height: 100vh;
    height: 100%;
  }

  .sidebarHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
    
  }
  
  .sidebarLogo{
    font-size: 30px;
    font-weight: 600;

    color: #333;
  }

  .closeSidebar{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 10px;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    
  }

  .closeSidebar:hover{
    background-color: rgb(201, 196, 196);

  }

  .closeSidebar:active{
    transform: scale(0.85);
  }


  .sidebarLinkBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin-top: 10px;
    position: relative;
  }

  .linkHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

.linkHeader .linkTitle{
  font-size: 1.2rem;
  font-weight: 500;
  color: #333333ce;
} 
 
.expandIcon{
  color: #333333ce;
  font-size: 25px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.responsiveCallButton{
  display:flex ;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 30px;
  margin-top: 12px;
  font-size: 16px;
  font-weight: 500;
  background-color: #e7e3e356;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  margin-bottom: 18px;
}

.responsiveCallButton:active{
  transform: scale(1.2);
}



.callIcons{
  font-size: 20px;
  color: #333;
  margin-right: 7px;
  
}

.sidebarBtnBox{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 15px;
  margin-top: auto;
}


.startBtn{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 30px;
  gap: 5px;
  border: none;
  margin-top: 10px;
  background-color: #35c25f;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  margin-top: auto;
  
  
}

.startBtn:hover{
  background-color: rgb(0 71 51);
  color: #f9f9f9;
}

.startBtn:active{
  transform: scale(1.2);
}

.startBtn span:nth-child(1){
  font-size: 16px;
  font-weight: 600;
}

.startBtn span:nth-child(2){
  font-size: 15px;
  font-weight: 400;
}

.signinBtn{
  padding: 20px;
  border-radius: 30px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.signinBtn:hover{
  border: 1px solid rgb(0 71 51);
  color: rgb(30, 133, 30);
}

.signinBtn:active{
  transform: scale(0.85);
}

.activeAccordianListBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0px;
}

.accordianItem{
  width: 100%;
  padding: 20px 10px 20px 50px;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  transition: 0.4s ease-in-out;

}

.accordianItem:hover{
  background-color: #ccc;
  cursor: pointer;
}

.accordianItem:active{
  transform: scale(0.90);
}

